footer {
    background-color: #73bcea;
    height: 10vh;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.footer-top {
    text-align: center;
    padding-bottom: 10px;
}

.footer-top img {
    height: 50px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon img {
    transition: 0.3s;
    filter: grayscale(100%); /* Makes the icon appear as grayscale by default */
}

.icon:hover img {
    filter: grayscale(0%); /* Restores the icon's original color on hover */
}