/* .create-container {
    position: absolute;
    width: 80vw;
    height: 80vh;
    top: -340px;
    left: -100px;
	padding: 12px 24px 24px 24px;
	margin: 48px 12px;
	border-radius: 4px;
    background: #eee;
}

.create-box {
    background: #d3e6ff;
    padding: 12px 24px 24px 24px;
	border-radius: 10px;
}

.create-box h3 {
	text-align: center;
    font-size: 1.5em;
}

label {
	font-size: 1.2em;
	margin-left: 12px;
}


.create-box input {
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Add styles to show 'focus' of selector 
.create-box input:focus, textarea:focus {
	border: 1px solid green;
}

/* Add styles to the submit button 
input[type=submit] {
	background: #64B5F6;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

input[type=submit]:focus {
	background: #A5D6A7;
	color: whitesmoke;
}

input[type=submit]:hover {
	background: #2196F3;
}

/* Align items to center of the 'div' with the class 'center' 
.center {
	text-align: center;
} */